.dist/
.idea/
node_modules/
*.log
*.tmp

/demo/**/*.js
/demo/**/*.js.map
/demo/src/**/*.d.ts

/lib/**/*.js.map

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
!/src/types/**/*
!/src/styles/**/*.js

/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
!/test/typings.d.ts
