@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@import '../../lib/styles/variables/colors.css';
@import '../../lib/styles/classes/common.css';
@import '../../lib/styles/classes/flex-layout.css';
@import '../../lib/styles/classes/shadows.css';
@import '../../lib/styles/classes/spacing.css';
@import '../../lib/styles/classes/typography.css';

/*-------------------------------------------------
  Variables
-------------------------------------------------*/

:root {
  /*------------------------------
    Application theme
  ------------------------------*/

  --comm-primary-text-color: var(--comm-grey-900);
  --comm-secondary-text-color: var(--comm-grey-600);
  --comm-disabled-text-color: var(--comm-grey-400);
  --comm-accent-text-color: var(--comm-pink-a200);
  --comm-error-text-color: var(--comm-red-a700);
  --comm-link-color: var(--comm-indigo-500);
  --comm-link-visited-color: var(--comm-indigo-300);
  --comm-default-border-color: var(--comm-grey-300);
}

/*-------------------------------------------------
  Default style
-------------------------------------------------*/

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #ffffff;
  color: var(--comm-primary-text-color);
}
